{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="login-banner-area">
      <div class="login-banner">
        <video autoplay muted loop id="myVideo">
          <source src="{% static 'img/background-login.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="login-box">
      <div class="login-area">
        <div class="login-welcome">Вход в аккаунт</div>
        <div class="login-form">
          <form method="post">
              {% csrf_token %}

              {{ form.username.label_tag }} {{ form.username }}
              {{ form.password.label_tag }} {{ form.password }}

              <button type="submit" class="btn btn-primary">Войти</button>
              <a href="{% url 'password_reset' %}" class="btn btn-link">Забыли пароль?</a>
          </form>
          <hr>
          <p>Ещё нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
<!--          <form>-->
<!--            <div class="mb-3">-->
<!--              <label for="exampleInputEmail1" class="form-label">Email address</label>-->
<!--              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--              <div id="emailHelp" class="form-text">Don`t have an account? <a href="/registration.html">Register here.</a></div>-->
<!--            </div>-->
<!--            <div class="mb-3">-->
<!--              <label for="exampleInputPassword1" class="form-label">Password</label>-->
<!--              <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--              <div class="col-auto">-->
<!--                <span id="passwordHelpInline" class="form-text">-->
<!--                  Forget password? Glad for you.-->
<!--                </span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary">Login</button>-->
<!--          </form>-->
        </div>
      </div>
    </div>

{% endblock content %}