{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2>Введите новый пароль</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_new_password1" class="form-label">Новый пароль</label>
            <input type="password" name="new_password1" class="form-control" id="id_new_password1">
        </div>
        <div class="mb-3">
            <label for="id_new_password2" class="form-label">Подтвердите пароль</label>
            <input type="password" name="new_password2" class="form-control" id="id_new_password2">
        </div>
        <button type="submit" class="btn btn-primary">Изменить пароль</button>
    </form>
</div>
{% endblock content %}